/* MASTER ----------------------------------- */
:root {
    --dark-color: #332d2d;
    --bg-color: #05ba12;
    --emph-color: #037e37;
    --text-color: #ececec;
    --bright-color: #70f01f;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* PAGE REGIONS ----------------------------- */

header {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    padding: 5px 20px;
    align-items: center;
}

main {
    text-align: center;
    background-color: var(--emph-color);
    padding: 30px 20px;
    overflow: hidden;
    flex: 1;
}

#pad {
    display: none;
}

footer {
    background-color: var(--dark-color);
    text-align: center;
    font-size: 0.7em;
}

/* ELEMENTS ---------------------------------- */

/* Header */
#headertitle {
    font-size: 2em;
    margin: 10px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    transition-duration: 0.3s;
}

#headertitle:hover {
    color: var(--bright-color);
}


.headerlink {
    text-decoration: none;
    color: var(--text-color);
    padding: 15px 20px;
    margin: 0 20px;
    width: 6em;
    text-align: center;
    transition-duration: 0.3s;
    border-radius: 5px;
}

.headerlink:hover {
    background: var(--bright-color);
    color: var(--dark-color);
}

/* Shared */
.poem {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Homepage */
#title {
    font-size: 3.5rem;
    margin-bottom: 5px;
}

#mainlink {
    display: inline-block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--text-color);
    background: var(--dark-color);
    transition: 0.3s;
}

#mainlink:hover {
    background: var(--bright-color);
    color: var(--dark-color);
    box-shadow: 10px 10px 5px var(--dark-color);
}

/* Flagchecker */
#flag-div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#flag-input {
    padding: 10px 15px;
    font-size: 1.3em;
    width: calc(100% - 40px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

#flag-button {
    padding: 15px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    color: var(--text-color);
    background: var(--dark-color);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#flag-button:hover {
    background: var(--bright-color);
    color: var(--dark-color);
}

#flag-response-head {
    font-size: 1.2em;
    font-weight: bold;
}

.valid {
    color: var(--bright-color);
}

.invalid {
    color: #ff0000;
}

/* If we're on a BIG screen */
@media only screen and (min-width: 550px) {
    /* SECTIONS ---------------------- */
    header {
        flex-direction: row;
    }

    main {
        width: calc(80% - 20px);
        margin: 20px auto;
        border-radius: 10px;
        padding: 20px 50px;
        flex: 0;
    }

    #pad {
        display: flex;
        flex: 1;
    }

    /* ELEMENTS ----------------- */

}
